<h1 id="banner-title">Is Your Dog Healthy?</h1>
<div class="controller-wrapper" data-controller="form">
  <div class="form-wrapper col-12 col-sm-9 col-lg-7">
    <%= form_with url: "/",
                  method: :post,
                  data: { form_target: "form",
                          action: "submit->form#showResults" } do |form| %>
      <div class="row form-top">
        <div class="col-12 col-sm-6 col-lg-6">
          <%= form.text_field :height, required: true, placeholder: "Fluffy's height (cm) is..." %>
        </div>
        <div class="col-12 col-sm-6 col-lg-6">
          <%= form.text_field :weight, required: true, placeholder: "Fluffy's weight (kg) is..." %>
        </div>
        <br>
      </div>
      <div class="row d-flex flex-column align-items-center">
        <div class="col-12 col-sm-6 col-lg-6 form-bottom">
          <datalist id="breed" data-form-target="suggestions">
          <!-- inject suggestions here -->
          </datalist>
          <%= form.search_field :breed, autocomplete: "off", required: true, list: "breed", placeholder: "Fluffy's breed is...", data: { action: "input->form#getDogInfo" } %>
          <%= form.button "Check", data: { form_target: "submit"}, class: "form-btn" %>
        </div>
      </div>
    <% end %>
  </div>

  <div class="results-wrapper col-12 col-sm-9 col-lg-7 mt-3 mb-3">
    <div class="results d-none" data-form-target="results">
      <!-- Javascript will inject the results here -->
    </div>
  </div>
</div>
